<% if params[:create_annonce]!= nil %>
<div class="alert alert-info" role="alert">
    Nouvelle annonce crée !
</div>
<% end %>

<% if params[:contact] %>
<div class="alert alert-success" role="alert">
    Message envoyé !
</div>
<% end %>

<h4><span class="badge  m-1 bg-rea text-light">A la une</span></h4>

<div class="container">
    <%if @AlaUne==nil || @AlaUne.empty? then %>
    <div class="row border border-warning ">
        <div class="alert alert-warning m-auto" role="alert">
            Aucune annonce trouvée !
        </div>
    </div>
    <%else%>

    <%@AlaUne.each{ |an|%>
        <div class="row mt-3 bg-second border rounded border-secondary">
            <% if !an.photos.empty? %>
            <img class="card-img-top rounded image" src=<%=an.photos.first.url%> alt="Card image cap">
            <% else %>
            <%= image_tag "ReaFront.jpg" , class:"card-img-top rounded" ,alt:"Empty image"%>
            <% end %>
            <div class="card-body">
                <h4><%=link_to "#{an.typeBien} à #{an.lieu}" , annonce_path(id:an.id) ,class:"card-title text-dark font-weight-bold" %>
                </h4>
                <% if an.Vente? %>
                <p class="card-subtitle mb-2 text-dark font-weight-bold">À vendre</p>
                <% else %>
                <p class="card-subtitle mb-2 text-dark font-weight-bold">À louer</p>
                <% end %>
                <p class="card-subtitle mb-2 text-primary ">
                    <%=number_to_currency(an.loyer_total, unit: an.devise.to_s, separator: ",", delimiter: ".", format: "%n %u",precision:0)%>
                </p>
                <% if an.capacite > 0 %>
                <p class="card-subtitle mb-2 text-muted">
                    <%= image_tag "bed.svg" ,width:"25" ,height:"25" ,class:" align-top" ,alt:"Rea Brand"%>
                    <%=an.capacite%> Chambres
                </p>
                <% end %>

                <p class="card-text text-wrap">
                        <%=an.description%>
                </p>
                <p class="card-subtitle mb-2 text-muted">
                    Postée le <%=an.created_at.to_date%>
                </p>
            </div>
        </div>
        <%}%>
    <%end%>

    </div>